body {
  font-family: "Montserrat", sans-serif;
}

/* START HEADER */
#header-flickr {
  background-color: #8aa2a9;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 5rem;
}

#form-search {
  display: flex;
  width: 50%;
  gap: 5px;
}

#img-header {
  width: 75px;
}

#search-field {
  padding: 10px 20px;
  background-color: rgb(241, 238, 238);
  min-width: 70%;
  border-radius: 5px;
  border: 1px solid #717c89;
  font-family: inherit;
}

#input-button {
  background-color: #717c89;
  color: white;
  font-size: medium;
  padding: 7px 10px;
  font-weight: 400;
  border-radius: 5px;
  border: 1px solid #d2d9dc;
  font-family: inherit;
}

.menu-choice {
  color: white;
  font-size: medium;
}

/* SLUT HEADER */

footer {
  display: flex;
  background-color: black;
}

#contributors-head {
  margin-left: 5rem;
  margin-top: 3.8rem;
  color: white;
}

#contributors {
  display: flex;
  margin-top: 4.1rem;
  flex-direction: column;
  color: white;
}

ul {
  display: flex;
  list-style: none;
  gap: 3rem;
}

#social-media {
  display: flex;
  flex-direction: column;
  margin-left: 35rem;
}

#social-media-head {
  margin-top: 1.5rem;
  color: white;
}

#social-media-icons {
  display: flex;
  gap: 10px;
  margin-bottom: 1.5rem;
  margin-left: 1rem;
  width: 5.3125rem;
  height: 5.3125rem;
}
