body {
  font-family: "Montserrat", sans-serif;
}

#section-form {
  display: flex;
  justify-content: center;
}

#label-search {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

#input-text {
}

footer {
    max-width: 1440px;
    display: flex;
    background-color: black;

}

#input-button {
}

#search-results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  width: 95%;
  gap: 5px;
}

#form-search {
  display: flex;
  flex-direction: column;
  gap: 4px;
  max-width: 300px;
}
