body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  margin-inline: auto;
  font-family: "Montserrat", sans-serif;
}

img {
  width: 320px;
  height: 320px;
  object-fit: cover;
  cursor: pointer;
}

ul {
  display: flex;
  list-style: none;
  gap: 3rem;
}

p {
  margin: 0;
  color: white;
}

i {
  color: white;
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: orange;
}

/* START HEADER */
header {
  background-color: #8aa2a9;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px;
  width: 100%;
  margin-bottom: 7px;
}

#input-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.errorEmpty {
  position: absolute;
  display: block;
  margin: 0;
  font-size: 0.75rem;
  font-style: italic;
  top: 125%;
  left: 20%;
  transform: translate(-50%, -50%);
  color: black;
}

#form-search {
  display: flex;
  width: 80%;
  gap: 5px;
}

#img-header {
  display: flex;
  width: 75px;
  height: auto;
  gap: 5px;
  cursor: default;
}

#search-field {
  padding: 10px 20px;
  min-width: 70%;
  border-radius: 5px;
  border: 1px solid #717c89;
  font-family: inherit;
  background-color: rgb(241, 238, 238);
}

#input-button,
.page {
  background-color: #717c89;
  color: white;
  font-size: 1rem;
  padding: 7px 10px;
  border-radius: 5px;
  border: 1px solid #d2d9dc;
  font-family: inherit;
  cursor: pointer;
}

#input-button:hover,
.page:hover {
  color: orange;
}

.menu-choice {
  color: white;
  font-size: 1rem;
}

/* HEADER END */

/* MAIN START */
#section-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  width: 100%;
  margin-bottom: 20px;
  gap: 5px;
}

.change-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 15px;
}

#current-page {
  padding: 5px 15px;
  border-radius: 5px;
  border: 2px solid #d2d9dc;
  color: black;
}

.errorMsg {
  display: block;
  font-size: 1rem;
  color: red;
}

#lightbox {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}

#lightbox.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

#lightbox img {
  max-width: 90%;
  max-height: 80%;
  padding: 4px;
  background-color: black;
  border: 2px solid white;
}

/* MAIN END */

/* FOOTER START */

footer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #333;
  margin-top: 7px;
}

#contributors {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

#social-media {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px 10px;
}

#social-media-icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* FOOTER END */
