body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  margin-inline: auto;
  font-family: "Montserrat", sans-serif;
}

img {
  width: 320px;
  height: 320px;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: orange;
}

/* START HEADER */
#header-flickr {
  background-color: #8aa2a9;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 5rem;
  width: 100%;
  margin-bottom: 7px;
}

#form-search {
  display: flex;
  width: 60%;
  gap: 5px;
}

#img-header {
  width: 75px;
  display: flex;
  gap: 5px;
  height: auto;
}

#search-field {
  padding: 10px 20px;
  background-color: rgb(241, 238, 238);
  min-width: 70%;
  border-radius: 5px;
  border: 1px solid #717c89;
  font-family: inherit;
}

#input-button,
.page {
  background-color: #717c89;
  color: white;
  font-size: medium;
  padding: 7px 10px;
  font-weight: 400;
  border-radius: 5px;
  border: 1px solid #d2d9dc;
  font-family: inherit;
  cursor: pointer;
}

#input-button:hover,
.page:hover {
  color: orange;
}

.menu-choice {
  color: white;
  font-size: medium;
}

/* SLUT HEADER */

/* MAIN START */
#section-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  margin-bottom: 5px;
  width: 100%;
  gap: 5px;
}

.change-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#current-page {
  padding: 5px 15px;
  border-radius: 5px;
  border: 2px solid #d2d9dc;
}

/* MAIN END */

footer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background-color: #333;
  align-items: center;
  margin-top: 7px;
}

#contributors {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

ul {
  display: flex;
  list-style: none;
  gap: 3rem;
}

h4 {
  margin: 0;
  color: white;
}

#social-media {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px 10px;
}

#social-media-icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

i {
  color: white;
  font-size: 1.2rem;
}

.errorEmpty {
  display: block;
  font-size: 0.75rem;
  font-style: italic;
  margin: 0;
  align-self: center;
}

.errorMsg {
  display: block;
  font-size: 1rem;
  color: red;
}
